input[type="date"]::before {
	color: #999999;
	content: attr(placeholder);
}

input[type="date"] {
	color: #ffffff;
}

input[type="date"]:focus,
input[type="date"]:valid {
	color: #666666;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
	content: "" !important;
}

table th {
	text-align: center; 
}
 
table td {
	text-align: center; 
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    padding: 10px;
}