input[type="date"]::before {
	color: #999999;
	content: attr(placeholder);
}

input[type="date"] {
	color: #ffffff;
}

input[type="date"]:focus,
input[type="date"]:valid {
	color: #666666;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
	content: "" !important;
}


input[type="time"]::before {
	color: #999999;
	content: attr(placeholder);
}

input[type="time"] {
	color: #ffffff;
}

input[type="time"]:focus,
input[type="time"]:valid {
	color: #666666;
}

input[type="time"]:focus::before,
input[type="time"]:valid::before {
	content: "" !important;
}

table th {
	text-align: center; 
}
 
table td {
	text-align: center; 
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    padding: 10px;
}

.cardbody {
	background-color: rgb(255, 255, 255);
}

.cardbody-blue {
	background-color: #ebf2fa;
}

 .card-courts {
	background-color: #ebf2fa;
}

.card-admin-tools:hover{
	transform: scale(1.05);
 	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.landing-banner {
	height: 50vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
